<!-- templates/pages/home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:title="공지사항">공지사항</title>
</head>
<body>
<div layout:fragment="content">
 
    <div class="px-24">
        <h1>공지사항</h1>
		
            <!--table-->
            <div class="flex flex-col">
                <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="overflow-hidden">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
                        <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">번호</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">제목</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">날짜</th>
                        </tr>
                        </thead>
                        <tbody id="noticeTableBody" class="divide-y divide-gray-200 dark:divide-neutral-700">
							<!-- JS로 채워짐 -->
						</tbody>
                    </table>
					</div>					
                </div>
                </div>
            </div>
			<!--table end-->
			
    </div>
</div>
	<script>
	  async function loadPage() {
	    const res = await fetch(`/api/v1/public/notice?id=${encodeURIComponent(id)}`);
	    const data = await res.json();
	    
	    const noticeBody = document.getElementById('noticeTableBody');
	    noticeBody.innerHTML = '';
	  			
	    data.list.forEach(notice => {
	      const row = `<tr>
	          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">${notice.id}</td>
	          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">${notice.title}</td>
	          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">${notice.created_at}</td>
	      </tr>`;
	      noticeBody.insertAdjacentHTML('beforeend', row);
	    });
	  }
	
	  loadPage();
	</script>

</body>
</html>
