
<th:block th:fragment="paged-table">
        <!-- 테이블 -->
        <div class="flex flex-col" >
          <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
              <thead class="bg-gray-50 dark:bg-neutral-700">
              <tr>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">날짜</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">이름</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">코드</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">공식가</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">매입가</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">판매가</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">단위</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">데이터생성일</th>
                  <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">데이터수정일</th>
              </tr>
              </thead>
                  <!-- HTMX로 조각 교체될 영역 -->
                  <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                    <tr th:each="item : ${pageInfo.list}"   class="hover:bg-gray-100 dark:hover:bg-neutral-700">
                      <td th:text="${item.priceDate}" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">금속</td>
                      <td th:text="${item.metalName}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">2025-04-09</td>
                      <td th:text="${item.metalType}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">2025-04-09</td>
                      <td th:text="${item.officialPrice}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">123.45</td>
                      <td th:text="${item.buyPrice}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">122.00</td>
                      <td th:text="${item.sellPrice}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">122.00</td>
                      <td th:text="${item.unit}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">122.00</td>
                      <td th:text="${item.createdAt}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">122.00</td>
                      <td th:text="${item.updatedAt}" class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">125.00</td>
                    </tr>
                  </tbody>
          </table>
          </div>
          </div>
          </div>
          </div>



       <!-- Pagination 아래에 같이 포함 -->
        <div class="py-4 flex justify-center">
        <nav class="flex items-center space-x-1" aria-label="Pagination">
            <button th:if="${pageInfo.pageNum > 1}"
                    th:attr="hx-get='/v1/admin/metal-prices/fragment?page=' + ${pageInfo.pageNum - 1}"
                    hx-target="#paged-table"
                    hx-swap="innerHTML"
                    type="button"
                    class="p-2.5 min-w-10 inline-flex justify-center items-center text-sm rounded-full text-gray-800 hover:bg-gray-100 dark:text-white dark:hover:bg-neutral-700">
                «
            </button>
      
            <button th:each="i : ${#numbers.sequence(1, pageInfo.pages)}"
                    th:classappend="${i == pageInfo.pageNum} ? 'bg-gray-200 dark:bg-neutral-600' : ''"
                    th:attr="hx-get='/v1/admin/metal-prices/fragment?page=' + ${i}"
                    hx-target="#paged-table"
                    hx-swap="innerHTML"
                    type="button"
                    class="min-w-10 flex justify-center items-center py-2.5 text-sm rounded-full text-gray-800 hover:bg-gray-100 dark:text-white dark:hover:bg-neutral-700">
                <span th:text="${i}">1</span>
            </button>
      
            <button th:if="${pageInfo.pageNum < pageInfo.pages}"
                    th:attr="hx-get='/v1/admin/metal-prices/fragment?page=' + ${pageInfo.pageNum + 1}"
                    hx-target="#paged-table"
                    hx-swap="innerHTML"
                    type="button"
                    class="p-2.5 min-w-10 inline-flex justify-center items-center text-sm rounded-full text-gray-800 hover:bg-gray-100 dark:text-white dark:hover:bg-neutral-700">
                »
            </button>
        </nav>
      </div> 




</th:block>